:root {
    --main-color: #24292f;
    --href-color: #0969DA;
    --text-color: #fff;
    --box-color: #f6f8fa;
    --border-color: #ccc;
    --span-color: #57606a;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  
  background-color: var(--main-color);

  padding: 10px 32px;
}

.logo_group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.na_group{
    display: flex;

}

.na_group input {
    border-radius: 5px;
    border: 1px solid var(--text-color);

    padding: 0px 12px;

    background-color: var(--main-color);

    width: 279px;
    height: 30px;
    
}

.search {
    position: relative;
    top: 0px;
    right: 30px;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;

   

   width: 300px;
   height: 10px;

}

.menu li {
    color: var(--text-color);
}

main {
    margin: 0px auto;
    margin-top: 40px;

    width: 768px;
    height: 870px;
}

.main_st {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 16px;

    height: 97px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

.import {
    color: var(--href-color)
}

hr {
    margin: 15px 0;
}

.main_nd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 200px;
}

.create_name{
    display: flex;
    align-items: center;
}

.owner {

    height: 32px;

}

.owner > h3 {
    margin-bottom: 6px;
    font-weight: 500;
}

.owner > select {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 5px 12px;

    height: 32px;
    
    background-color: var(--box-color);
}

.slash{
    margin: 0px 8px;

    font-size: 24px;
}

.Repository_name {
    display: flex;
    flex-direction: column;

    border-radius: 20px;

    width: 250px;
    height: 32px;
}

.Repository_name > label {
    margin-bottom: 6px;
    font-weight: 500;

}

.Repository_name > input {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 5px 12px;

    height: 32px;
    
    background-color: var(--box-color);
}

.reco_in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80px;
}

.recommend {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    padding: 10px 0px;

    height: 21px;
    
}
.Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}

.Description > label {
    margin: 6px 0px;
    font-weight: 500;
}

.Description > input {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 5px 12px;

    height: 32px;
    
    background-color: var(--box-color);
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

.section_in {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.section_in > div {
    padding-left: 5px;
}

.section_in > div > p {
    font-size: 11px;
    color: #57606a;
}

.section_in > div > label {
    font-weight: 500;
}

.main_four{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 297px;
}

.four_hd {
    
    height: 42px;
}

.four_hd > p {
    color: var(--span-color);
}

.add p {
    padding-left: 20px;
    font-size: 11px;
    color: var(--span-color);
}

.add span {
    font-size: 11px;
    color: var(--href-color);
}


.gitignore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80px;

}

.gitignore p {
    font-size: 11px;
    color: var(--span-color);
}

.gitignore span {
    font-size: 11px;
    color: var(--href-color);
}

.gitignore select {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 3px 12px;
    
    font-size: 12px;

    background-color: var(--box-color);

    width: 175px;
    height: 28px;
}

.license {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80px;

}

.license p {
    font-size: 11px;
    color: var(--span-color);
}

.license span {
    font-size: 11px;
    color: var(--href-color);
}

.license select {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 3px 12px;
    
    font-size: 12px;
    
    background-color: var(--box-color);

    width: 112px;
    height: 28px;
}

.warning {
    display: flex;
    align-items: center;

    height: 21px;
}

button {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: #94D3A2;
    padding: 5px;

    color: #fff;

    width: 145px;
    height: 32px;
}

.footer_hr {
    margin: 0px auto;
    margin-top: 40px;
    width: 980px;

}

footer {
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 40px 0 8px;

    width: 980px;
    height: 115px;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 654px;
    height: 14px;
}

.address li {
    font-size: 11px;
    color: var(--href-color);
}